@model StudentDetailsViewModel

<div class="container mt-5">
    <h2>Student Details</h2>
    <hr />
    <!-- Profile Picture -->
    <div class="row mb-4">
        <div class="col-md-3">
            <img src="@(Url.Content(Model.ProfilePicturePath.StartsWith("/") ? Model.ProfilePicturePath : "/" + Model.ProfilePicturePath))"
                 alt="@Model.FirstName @Model.LastName"
                 class="img-thumbnail"
                 style="width: 200px; height: 250px; object-fit: cover;" />
        </div>
        <div class="col-md-9 d-flex align-items-center">
            <div>
                <h3>@Model.FirstName @Model.MiddleName @Model.LastName</h3>
                <p><strong>Personal ID:</strong> @Model.PersonalId</p>
                <p><strong>School Name:</strong> @Model.SchoolName </p>
                <p><strong>Class:</strong> @Model.Class </p>
                <p><strong>Date of Birth:</strong> @Model.DateOfBirth.ToString("dd.MM.yyyy")</p>
                <p><strong>Email</strong> @Model.Email</p>
                <p><strong>Contact Details:</strong> @Model.ContactDetails</p>
                <p><strong>Performance:</strong> @Model.Performance</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
            
            <a href="@Url.Action("EditStudent", "AdminStudent", new { id = Model.Id })" class="btn btn-warning btn-sm mb-2 me-1">Edit Details</a>
            <a href="@Url.Action("StudentGrades", "AdminStudent", new { id = Model.Id })" class="btn btn-warning btn-sm mb-2 me-1">Edit Grade</a>
            <a href="@Url.Action("StudentRemarks", "AdminStudent", new { id = Model.Id })" class="btn btn-warning btn-sm mb-2 me-1">Edit Remark</a>
            <a href="@Url.Action("StudentAbsences", "AdminStudent", new { id = Model.Id })" class="btn btn-warning btn-sm mb-2 me-1">Edit Absence</a>
            <!-- Delete Button -->
            <a href="@Url.Action("DeleteStudent", "AdminStudent", new { id = Model.Id })"
               class="btn btn-danger btn-lg w-100 mt-2"
               onclick="return confirm('Are you sure you want to delete this Student @Model.FirstName @Model.LastName?');">
                Delete Student</a>
        </div>

        <!-- Back Button -->
        <a href="@Url.Action("AllStudents", "AdminStudent")" class="btn btn-secondary mt-3">Back to List</a>
    </div>
